<footer.site-footer class=input.class>
    <a.openjsf href="https://openjsf.org/">
        <img src="./openjsf.png"/> 
        <span><span.bold>OpenJS</span> <span.light>Foundation</span></span>
    </a>
    <div.separator/>
    <a.osi href="https://github.com/marko-js/marko/blob/master/LICENSE">
        <img src="./osi.png"/>
        MIT License
    </a>
    <div.separator/>
    <a.ebay href="https://github.com/eBay">
        <img src="./ebay.svg"/>
        open source
    </a>
</footer>