[production]
last 3 Chrome versions
last 2 Firefox versions
last 1 Edge versions
last 1 Safari versions
unreleased versions

[dev]
last 1 Chrome versions
last 1 Firefox versions
last 1 Edge versions
last 1 Safari versions