<div.site-banner key="banner">
    <span>Marko joins the <a href="http://www.ebaytechblog.com/2017/10/26/the-future-of-marko/">JS Foundation</a>!</span>
</div>

<header.site-header key="header">
    <a href="/">
        <img.site-logo src="./logo-header.png"/>
    </a>
    <div.stuff>
        <site-menu/>
        <button.menu on-click('toggleMenu')>&#9776;</button>
    </div>
</header>
