<div.marko-code-block>
    <button.switch-syntax title="Switch Syntax" on-click('changeSyntax')>
        ⇄
    </button>
    <div.code.html>
        $!{data.html}
    </div>
    <div.code.concise>
        $!{data.concise}
    </div>
</div>
