<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>${input.title ? input.title + " | Marko" : "Marko"}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta
      name="Description"
      content="Marko is a friendly (and fast!) UI library that makes building web apps fun."/>
  </head>

  <body class=input.class>
    <layout-header/>
    <layout-sidebar currentDoc=input.currentDoc toc=input.toc/>
    <main.content>
      <${input.renderBody}/>
    </main>
    <if(input.footer !== false)>
      <app-footer/>
    </if>

    <google-analytics tracking-id="UA-66854919-1" domain="markojs.com"/>

    <if(input.discord !== false)>
      <discord-link/>
    </if>
  </body>
</html>
